<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190872820778-eiqmkg58657076pge183sit4nsv2c3gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190872820778-eiqmkg58657076pge183sit4nsv2c3gj</string>
	<key>API_KEY</key>
	<string>AIzaSyBixGdEljsr2ul_R2Q1lxkW-bTPFlUOhBA</string>
	<key>GCM_SENDER_ID</key>
	<string>190872820778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kentoself.VisitorBook</string>
	<key>PROJECT_ID</key>
	<string>visiterbook</string>
	<key>STORAGE_BUCKET</key>
	<string>visiterbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190872820778:ios:9b50d6062db7916c15b753</string>
</dict>
</plist>